*{
    margin: 0px;
    padding: 0px;
}
.area{
    margin-left: 100px;
    margin-top: 100px;
}
.search{
    border: 1px solid teal;
    border-radius: 50px;
    font-size: 40px;
    padding: 5px;
    text-align: center;
    width: 25%;
    background-color: whitesmoke;
    box-shadow: 0px 0px 1px 1px teal;
    margin: 20px;
    cursor: pointer;
}
.plus{
    border-radius: 50%;
    font-size: 40px;
    padding: 10px;
    margin: 20px;
    border: none;
    background-color: lightseagreen;
    color: white;
    width: 5%;
    cursor: pointer;
}
.acc{
    margin: 20px;
    padding: 10px;
    background-color: blue;
    color: white;
    box-shadow: 5px 5px black;
    width: 30%;
    font-size: 30px;
    cursor: pointer;
    border: 3px solid black;
}